<div class="container portafolio">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="row">
                <div class="col-1">
                     <img src="assets/img/logo.png" class="img-fluid portafolio-imgLogo">
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex my-auto portafolio-LetrasNavegador">
                    <p class="mt-1">Projects</p>
                    <p class="ms-5 mt-1">Technical Skills</p>
                    <p class="ms-5 mt-1">About Me</p>
                </div>
            </div>
            <div class="row d-flex">
                <!-- <div class="col-12">
                    <a href="https://github.com/JuanLuisHernandezTerron?tab=repositories" class="portafolio-icono img-fluid"  target="_blank"><img src="./../../../assets/img/5675767821555590081.svg"></a>
                    <a href="https://www.linkedin.com/in/juanluth/" class="portafolio-icono img-fluid"  target="_blank"><img src="./../../../assets/img/4102586_applications_linkedin_social_social media_icon.svg"></a>
                    <a href="https://www.instagram.com/juan_lu14/" class="portafolio-icono img-fluid" target="_blank"><img src="./../../../assets/img/1161953_instagram_icon.svg"></a>
                </div> -->
            </div> 
        </div>
    </div>
</div>